<% if (title) { %>
    <h1 id="type-title">
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>
    <%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>
        <form action="/account/adminDelete" method="post" class="form-styles">
            <label for="fname">
                <h5>
                    First name:
                </h5>
                <input type="text" name="account_firstname" id="accountFirstname" required placeholder="Enter your first name" readonly value="<%= locals.account_firstname %>">
            </label>
            <label for="lname">
                <h5>
                    Last name:
                </h5>
                <input type="text" required id="lname" name="account_lastname" placeholder="Enter your last name" readonly value="<%= locals.account_lastname %>">
            </label>
            <label for="email">
                <h5>
                    Email address:
                </h5>
                <input type="email" required id="email" name="account_email"  placeholder="Enter a valid email address" readonly value="<%= locals.account_email %>">
            </label>
            <label for="type">
                <h5>
                    Type:
                </h5>
                <input type="type" required id="type" name="account_type"  placeholder="Enter a valid type" readonly value="<%= locals.account_type %>">
            </label>
            <h2>After delete the account the action can't be undo.</h2>
            <button type="submit">Delete Account</button>
            <input type="hidden" name="account_id"
            <% if(locals.account_id) { %> value="<%= locals.account_id %>"
            <% } %>>
        </form>
