<% if (title) { %>
    <h1 id="type-title"><%= title %></h1>
    <% } else { res.redirect('/') } %> <%- messages() %> <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error=> { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
    <form action="/inv/delete" id="deleteForm" method="post" class="form-styles">
      <label for="inv_make">
        <h5>Make:</h5>
        <input
          type="text"
          required
          id="inv_make"
          name="inv_make"
          placeholder="Enter the maker name"
          value="<%= locals.inv_make %>"
          readonly
        />
      </label>
      <label for="inv_model">
        <h5>Model:</h5>
        <input
          type="text"
          required
          id="inv_model"
          name="inv_model"
          placeholder="Enter the model name"
          value="<%= locals.inv_model %>"
          readonly
        />
      </label>
      <label for="inv_year">
        <h5>Year:</h5>
        <input
          type="number"
          required
          id="inv_year"
          name="inv_year"
          placeholder="Enter the year"
          value="<%= locals.inv_year %>"
          readonly
        />
      </label>

      <label for="inv_price">
        <h5>Price:</h5>
        <input
          type="number"
          required
          id="inv_price"
          name="inv_price"
          placeholder="Enter the price"
          value="<%= locals.inv_price %>"
          readonly
        />
      </label>
    
      <p>Confirm Deletion - The delete is permanent.</p>
      <button type="submit" >Delete Vehicle</button>
        <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>
    </form>
